{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center text-info">{{ contact.name }}</h2>
    <p><strong>Phone:</strong> {{ contact.phone_number }}</p>
    <p><strong>Email:</strong> {{ contact.email }}</p>
    <p><strong>Address:</strong> {{ contact.address }}</p>
    <div class="mt-3">
        <a href="{% url 'contact_update' contact.pk %}" class="btn btn-warning">Edit</a>
        <a href="{% url 'contact_delete' contact.pk %}" class="btn btn-danger">Delete</a>
    </div>
</div>
{% endblock %}