{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center text-success">Contact List</h2>
    <a href="{% url 'contact_create' %}" class="btn btn-primary mb-3">Add New Contact</a>
    <ul class="list-group">
    {% for contact in contacts %}
        <li class="list-group-item">
            <a href="{% url 'contact_detail' contact.pk %}" class="text-dark" title="View {{ contact.name }}'s details">
                <i class="fas fa-user"></i> {{ contact.name }}
            </a>
            - {{ contact.phone_number }}
        </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}